src/main/resources/aanvraag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Mon Feb 17 2020 19:49:50 GMT+0100 (W. Europe Standard Time) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="aanvraag">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="id" type="xs:int"></xs:element>
                            <xs:element name="type" type="xs:string"></xs:element>
                            <xs:element name="description" type="xs:string"></xs:element>
                            <xs:element name="status" type="xs:int"></xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>